<div class="container m-5">
  <div class="row">
    <div class="col-6 offset-md-3">

      <h1 class="m-4">Inscripción al servicio:</h1>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>Ingrese el NIT de la persona natural o jurídica para la que realizará el trámite, sin incluir el código de
          verificación. Luego seleccione continuar para completar su solicitud.</p>

        <div class="form-group">
          <label for="identificacion">N.I.T.</label>
          <input type="text" class="form-control" id="identificacion"
                 placeholder="Ingrese el NIT"
                 formControlName="identificacion" required="required">
        </div>

        <div *ngIf="error" class="alert alert-danger" role="alert">{{ error }}</div>

        <button type="submit" class="btn btn-primary m-1" [disabled]="form.invalid">Consultar ></button>
        <button type="reset" class="btn btn-secundary m-1">< Regresar</button>

      </form>

    </div>
  </div>

</div>
