<div class="container m-5">

  <div class="row">
    <div class="col-12">

      <div *ngIf="error" class="alert alert-danger" role="alert">{{ error }}</div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label class="mr-sm-2 sr-only" for="Naturaleza">Naturaleza</label>
          <select class="custom-select mr-sm-2" id="Naturaleza" formControlName="Naturaleza">
            <option *ngFor="let nat of naturalezas"
                    value="nat.TpId"
                    [selected]="nat.TpId === empresa.TipoIdentificacion">{{ nat.TpId_Desc }}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="Identificacion">Identificación</label>
          <input type="number" class="form-control" id="Identificacion" formControlName="Identificacion" required="required" >
        </div>

        <div class="form-group" *ngIf="empresa?.TipoIdentificacion == 'N' ">
          <label for="NombreEmpresa">Nombre / Razón social .{{empresa?.TipoIdentificacion}}.</label>
          <input type="text" class="form-control" id="NombreEmpresa" formControlName="NombreEmpresa" >
        </div>


        <div class *ngIf="empresa?.TipoIdentificacion != 'N'">

          <div class="form-group col-3">
            <label for="PrimerNombreUsuario">Primer Nombre</label>
            <input type="text" class="form-control" id="PrimerNombreUsuario"
                   formControlName="PrimerNombreUsuario" required="required">
          </div>

          <div class="form-group col-3">
            <label for="SegundoNombreUsuario">Segundo Nombre</label>
            <input type="text" class="form-control" id="SegundoNombreUsuario"
                   formControlName="SegundoNombreUsuario" required="required">
          </div>

          <div class="form-group col-3">
            <label for="PrimerApellidoUsuario">Primer Apellido</label>
            <input type="text" class="form-control" id="PrimerApellidoUsuario"
                   formControlName="PrimerApellidoUsuario" required="required">
          </div>

          <div class="form-group col-3">
            <label for="SegundoApellidoUsuario">Segundo Apellido</label>
            <input type="text" class="form-control" id="SegundoApellidoUsuario"
                   formControlName="SegundoApellidoUsuario" required="required">
          </div>

        </div>


        <div formGroupName="Direccion">

          <div class="row">

            <div class="form-group col-3">
              <label for="TipoVia">Vía</label>
              <select class="custom-select mr-sm-2" id="TipoVia" formControlName="TipoVia">
                <option *ngFor="let via of tiposVia" value="via.Via"
                        [selected]="capitalize(via.Via) === capitalize(empresa?.TipoVia || '')">{{ via.Via_Desc }}</option>
              </select>
            </div>

            <div class="form-group col-1">
              <label for="NumeroVia">Nro *</label>
              <input type="text" class="form-control" id="NumeroVia" formControlName="NumeroVia" required="required">
            </div>

            <div class="form-group col-1">
              <label for="ApendiceVia">Letra</label>
              <input type="text" class="form-control" id="ApendiceVia" formControlName="ApendiceVia"
                     required="required">
            </div>

            <div class="form-group col-1">
              <label for="NumeroCruce">Nro *</label>
              <input type="text" class="form-control" id="NumeroCruce" formControlName="NumeroCruce"
                     required="required">
            </div>

            <div class="form-group col-1">
              <label for="ApendiceCruce">Letra</label>
              <input type="text" class="form-control" id="ApendiceCruce" formControlName="ApendiceCruce"
                     required="required">
            </div>

            <div class="form-group col-5">
              <label for="Ubicacion">Nro y Complementos *</label>
              <input type="text" class="form-control" id="Ubicacion" formControlName="Ubicacion" required="required">
            </div>

          </div>

          <div class="row">
            <div class="form-group col-12">
              <label for="DireccionCompleta">Dirección</label>
              <input type="text" class="form-control" id="DireccionCompleta" formControlName="DireccionCompleta" required="required">
            </div>
          </div>

        </div>

        <div class="form-group autocomplete">
          <label for="Municipio">Municipio</label>
          <input type="text" class="form-control" [value]="empresa.Municipio" id="Municipio" formControlName="Municipio">

          <ul id="results">
            <li *ngFor="let municipio of search | async">{{municipio.DescripcionMunicipio}}</li>
          </ul>
        </div>

        <div class="row">
          <div class="form-group col-6">
            <label for="Telefono">Teléfono</label>
            <input type="number" class="form-control" id="Telefono" formControlName="Telefono" required="required">
          </div>

          <div class="form-group col-6">
            <label for="EmailUsuario">Correo</label>
            <input type="email" class="form-control" id="EmailUsuario" formControlName="EmailUsuario" required="required">
          </div>
        </div>


        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="AutorizaEnvioSMS" value="option1">
          <label class="form-check-label" for="AutorizaEnvioSMS">Autorizo Envio SMS</label>
        </div>

        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="AutorizaEnvioEmail" value="option1">
          <label class="form-check-label" for="AutorizaEnvioEmail">Autorizo Envio Correos</label>
        </div>

        <div class="m-4">
          <button type="submit" class="btn btn-primary m-1">Continuar ></button>
          <button type="button" class="btn btn-primary m-1" (click)="regresar()">Regresar <</button>
        </div>

      </form>

    </div>
  </div>

</div>
